/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter-roman.var.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
